
 /* -------------------- スマートフォンレイアウト -------------------- */
 @media all and (max-width: 670px){
    .content img{
        width: 100%;
        display: block;
    }

    .content-title{
        width: 100%;
        display: block;
        
    }

    .content-title h2{
        text-align: center;
    }

    .content-title p{
        text-align: center;
    }

    .content{
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .title h1{
        font-size: 48px;
    }

    .work-content h2{
        padding: 0 20px;
    }

    .work-content-title{
        height: 60px;
    }

    .work-content-title h2{
        font-size: 10px;
    }

    .work-content-title p{
        font-size: 8px;
    }

    .title{
        width: 80%;
        height: 500px;
        margin: 0 auto;
    }

    .title h1{
        font-size: 32px;
        text-align: center;
    }

    .title p{
        font-size: 12px;
    }

    .about-me{
        width: 80%;
    }

    .br-sp {
        display: block;
    }

 }